### IntelliJ IDEA ###
out/
!titan_test_suite/examples/yaml_based_static_tests/dag_structure_test/src/main/**/out/
!titan_test_suite/examples/yaml_based_static_tests/dag_structure_test/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!titan_test_suite/examples/yaml_based_static_tests/dag_structure_test/src/main/**/bin/
!titan_test_suite/examples/yaml_based_static_tests/dag_structure_test/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea

titan_workspace/*
titan_sdk/__pycache__/titan_sdk.cpython-310.pyc
titan_sdk/my_titan_project/helper.py
titan_sdk/my_titan_project/main.py
titan_sdk/titan_sdk.egg-info/dependency_links.txt
titan_sdk/titan_sdk.egg-info/PKG-INFO
titan_sdk/titan_sdk.egg-info/requires.txt
titan_sdk/titan_sdk.egg-info/SOURCES.txt
titan_sdk/titan_sdk.egg-info/top_level.txt

target/*
perm_files/pytests/self_healer_agent_tests/.env
titan_server_logs/*
titan_tasks.db
